<!DOCTYPE html>
<html>
<head>
  <title>Purasangre</title>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

  <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>



  <%= csrf_meta_tags %>
</head>
<%= yield %>
<body>
	<div id="wrapper-landing">
		<div id="navigation-bar">
		
		</div>
		<h1 class="h1-landing"> PURA SANGRE </h1>
		<br>
		<h3 class="h3-landing">The biggest market of all thoroughbreds</h3>

		<br>
		<br>
		<br>
		<h4 class="h4-landing">What are you looking for?</h4>
		<br>
		<br>
		<br>
		<br>

		<div id="buttons">
			<div class="row">
			  <div class="col-md-4"><a href="">Padrillos</a></div>
			  <div class="col-md-4"><a href="">Machos</a></div>
			  <div class="col-md-4"><a href="">Hembras</a></div>
			</div>
		</div>

	</div>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<script>
		$( document ).ready(function() {
			$('body').addClass( "bg-landing" );
		        $('.bg-landing').blurjs({
					source: 'body',
					radius: 7,
					overlay: 'rgba(0,0,0,0.8)'
				});
		 });
	</script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>


	
	
	



