
<div id="wrapper-landing">
	<div id="navigation-bar">
		
	</div>



	<h1> PURA SANGRE </h1>
	<br>
	<h3>The biggest market of all thoroughbreds</h3>

	<br>
	<br>
	<br>
	<h4>What are you looking for?</h4>
	<br>
	<br>

	<div id="buttons">
		<div class="row">
		  <div class="col-md-4"><a href="">Padrillos</a></div>
		  <div class="col-md-4"><a href="">Machos</a></div>
		  <div class="col-md-4"><a href="">Hembras</a></div>
		</div>
	</div>
</div>


