<h1>Caballos</h1>

<ul class="caballos">
  <% @caballos.each do |caballo| %>
    <li>
      <div class="horse-wrap">
        <%= image_tag caballo.imagen, {height: 280}%>
        <div class="detalle">
          <span><%= "#{caballo.nombre} - #{caballo.age} years" %></span>
          <span class="precio"><%= number_to_currency(caballo.precio) %></span>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<%= link_to 'New Caballo', new_caballo_path %>
